@font-face {
  font-family: denseFont;
/*------Activity - Link the roboto.light.ttf inside the url brackets below------*/
  src: url("");
}

body {
  margin: 0;
  padding: 0;
  background-color: #151515;
  font-family: 'Century Gothic';
}

.container {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
}

h1, h2, h3 {
  font-family: 'denseFont';
}

.header {
/*------Activity - Link the hero-image.jpg inside the url brackets below------*/
  background-image: url("../img/hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  padding: 0 20px;
  overflow: hidden;
}

.header h1 {
  padding: 0;
  font-size: 50px;
}

.header p {
  padding: 0;
  margin-top: -25px;
}

.header-text {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 5px 0;
}

.header-text .primary-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 12px 28px;
  color: white;
  border: 1px solid #c56f36;
  border-radius: 2px;
  background-color: #c56f36;
  text-align: center;
  cursor: pointer;
}

.header-text .secondary-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 12px 28px;
  color: #c56f36;
  border: 1px solid #c56f36;
  border-radius: 2px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

.header-text .primary-button:hover {
  background-color: #b16431;
  color: white;
}

.secondary-button:hover {
  color: white;
  background-color: #c56f36;
}

.intro-section {
  display: grid;
  grid-template-columns: auto 80% auto;
  padding: 75px 0;
  background-color: white;
  text-align: center;
  justify-content: center;
}

.intro-section h2 {
  font-size: 26px;
  display: inline-block;
  padding: 10px 0;
}

.intro-section hr {
  padding: 0;
  width: 10%;
  height: 1px;
  background-color: #c56f36;
  border: none;
}

.intro-section p {
  padding: 10px 0;
}

.intro-section p span {
  color: #c56f36;
  font-weight: bold;
}

.plans {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  grid-column-gap: 30px;
  padding: 30px;
  justify-content: center;
}

.panel-1 .panel-image {
  /*------Activity - Link the Mixer.png inside the url brackets below------*/
  background-image: url("../img/Mixer.png");
}

.panel-2 .panel-image {
  /*------Activity - Link the Headphone.png inside the url brackets below------*/
  background-image: url("../img/Headphone.png");
}

.panel-3 .panel-image {
  /*------Activity - Link the DJ-Mixer.png inside the url brackets below------*/
  background-image: url("../img/DJ-Mixer.png");
}

.panel-1, .panel-2, .panel-3 {
  width: 300px;
  overflow: hidden;
  text-align: center;
}

.panel-1 .panel-image, .panel-2 .panel-image, .panel-3 .panel-image {
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  height: 320px;
  width: inherit;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.panel-1 .panel-image:hover, .panel-2 .panel-image:hover, .panel-3 .panel-image:hover {
  background-size: 90%;
}

.panel-1 .panel-text, .panel-2 .panel-text, .panel-3 .panel-text {
  color: #292929;
  font-weight: bold;
  margin: auto;
  width: 50%;
  border-top: 3px solid #ec8541;
}

/**************parallax-section****************/
.parallax-section {
  background-image: url("../img/hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  opacity: 0;
  animation: theAnimation 1s;
  animation-fill-mode: forwards;
}

.modal-content img {
  width: 30%;
}

@keyframes theAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .plans {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    grid-column-gap: 5px;
    padding: 10px;
    justify-content: center;
  }
  .panel-1, .panel-2, .panel-3 {
    width: 300px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
  }
  .panel-1 .panel-image, .panel-2 .panel-image, .panel-3 .panel-image {
    height: 300px;
    width: inherit;
  }
}

@media screen and (max-width: 640px) {
  .header-text .secondary-button {
    margin: 10px;
  }
  .header-text {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .plans {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    grid-column-gap: 5px;
    padding: 10px;
    justify-content: center;
  }
  .panel-1, .panel-2, .panel-3 {
    width: 300px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
  }
  .panel-1 .panel-image, .panel-2 .panel-image, .panel-3 .panel-image {
    height: 300px;
    width: inherit;
  }
}

@media screen and (max-width: 320px) {
  .topnav {
    width: 100%;
  }
  .header-text .secondary-button {
    margin: 10px;
  }
  .header-text {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .plans {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    grid-column-gap: 5px;
    padding: 10px;
    justify-content: center;
  }
  .panel-1, .panel-2, .panel-3 {
    width: 300px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
  }
  .panel-1 .panel-image, .panel-2 .panel-image, .panel-3 .panel-image {
    height: 300px;
    width: inherit;
  }
}
/*# sourceMappingURL=style.css.map */